<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.finance.other.dao.OtherMapper">



    <select id="queryOther" resultType="eqlee.ctm.finance.other.entity.vo.OtherVo">
      select Id as 'id',OtherName as 'otherName',OtherContent as 'otherContent',
      Types as 'types',convert(varchar(20),CreateDate,23)createDate from Other
      order by UpdateDate desc
    </select>

    <update id="updateOther" parameterType="eqlee.ctm.finance.other.entity.vo.OtherUpdateVo">
        <foreach collection="list" item="item" index="index">
            update Other set IncomeId = #{item.incomeId},OtherPrice = #{item.otherPrice}
            where Id = #{item.id}
        </foreach>
    </update>


</mapper>