<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.apply.guider.dao.GuiderMapper">

    <select id ="guiderIndex2" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderVo">
    select a.Id as 'id',b.LineName as 'lineName',convert(varchar(20),a.OutDate,23)outDate,a.AllNumber as 'allNumber',
    a.ContactName as 'contactName',a.ContactTel as 'contactTel',a.Place as 'place',a.AdultNumber as 'adultNumber',
    a.BabyNumber as 'babyNumber',a.OldNumber as 'oldNumber',a.ChildNumber as 'childNumber',a.AllPrice as 'allPrice',
    a.MsPrice as 'msPrice',a.ApplyRemark as 'applyRemark',a.CompanyName as 'companyName',a.IsSelect as 'isSelect',
    a.Type as 'type',a.GuideName as 'guide',a.GuideTel as 'tel',c.PayType as 'ApplyPayType',c.ThirdpartyNumber,a.PayType,a.Icnumber,a.ApplyPic
    from Line b join Apply a on a.LineId = b.Id left join pay c on a.ApplyNo = c.ApplyNo
        <where>
            1 = 1
            and a.IsCancel = 0 and a.Statu = 1 and a.IsPayment = 1
            <if test="outDate != null">
                and a.OutDate = #{outDate}
            </if>
            <if test="region != null">
                <bind name="_region" value="'%' + region + '%'"/>
                and a.Place like #{_region}
            </if>
            <if test="selectNot != null">
                and a.OutDate &lt;= getDate()
                and a.IsSelect = 0
            </if>
            <if test="list != null">
                and b.Id in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="cityList != null">
                and b.City in
                <foreach collection="cityList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by a.IsSelect,a.Place desc
    </select>


    <select id ="queryCountNumberInfo2" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderCountNumber">
    select sum(a.AllNumber)numberCount,sum(a.AdultNumber)adultNumber,sum(a.BabyNumber)babyNumber,
    sum(a.OldNumber)oldNumber,sum(a.ChildNumber)childNumber
    from Line b join Apply a  on a.LineId = b.Id
        <where>
            1 = 1
            and a.IsCancel = 0 and a.Statu = 1 and a.IsPayment = 1
            <if test="type == 0">
                and a.IsSelect = 0
            </if>
            <if test="outDate != null">
                and a.OutDate = #{outDate}
            </if>
            <if test="region != null">
                <bind name="_region" value="'%' + region + '%'"/>
                and a.Place like #{_region}
            </if>
            <if test="selectNot != null">
                and a.OutDate &lt;= getDate()
                and a.IsSelect = 0
            </if>
            <if test="list != null">
                and b.Id in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="cityList != null">
                and b.City in
                <foreach collection="cityList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="querySelectNumber" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderCountNumber">
        select
        sum(b.AdultNumber)adultNumber,sum(b.BabyNumber)babyNumber,sum(b.OldNumber)oldNumber,sum(b.ChildNumber)childNumber,
        sum(b.AllNumber)totalNumber
        from Orders a join OrderDetailed b on a.Id = b.OrderId left join Income d on a.Id = d.OrderId
        <where>
            1 = 1
            <if test="id != null">
                and a.Id = #{id}
            </if>
        </where>
        group by a.OrderNo
    </select>

    <select id ="guiderIndexByLine" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderVo">
        <bind name="LineName" value="'%' + lineName + '%'"/>
        select * from(
        select max(Id)id,max(LineName)lineName,max(convert(varchar(20),OutDate,23))outDate,sum(AllNumber)allNumber,
        sum(case when isnull(IsSelect,0)=1 then isnull(AllNumber,0) else 0 end)slcCnt
        from(
        select a.Id,a.LineId,b.LineName,a.OutDate,a.AllNumber,a.IsSelect,a.IsCancel from Apply a
        left join Line b  on a.LineId = b.Id where a.IsCancel = 0 and a.Statu != 0 and a.IsPayment = 1)tab
        group by OutDate,LineId)tab where LineName like #{LineName}
        order by OutDate desc
    </select>

    <select id ="guiderIndexByTime" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderVo">
         select * from(
        select max(Id)id,max(LineName)lineName,max(convert(varchar(20),OutDate,23))outDate,sum(AllNumber)allNumber,
        sum(case when isnull(IsSelect,0)=1 then isnull(AllNumber,0) else 0 end)slcCnt
        from(
        select a.Id,a.LineId,b.LineName,a.OutDate,a.AllNumber,a.IsSelect,a.IsCancel from Apply a
        left join Line b  on a.LineId = b.Id where a.IsCancel = 0 and a.Statu != 0 and a.IsPayment = 1)tab
        group by OutDate,LineId)tab where OutDate = #{outDate}
        order by OutDate desc
    </select>

    <select id ="guiderIndexByLineAndTime" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderVo">
        <bind name="LineName" value="'%' + lineName + '%'"/>
        select * from(
        select max(Id)id,max(LineName)lineName,max(convert(varchar(20),OutDate,23))outDate,sum(AllNumber)allNumber,
        sum(case when isnull(IsSelect,0)=1 then isnull(AllNumber,0) else 0 end)slcCnt
        from(
        select a.Id,a.LineId,b.LineName,a.OutDate,a.AllNumber,a.IsSelect,a.IsCancel from Apply a
        left join Line b  on a.LineId = b.Id where a.IsCancel = 0 and a.Statu != 0 and a.IsPayment = 1)tab
        group by OutDate,LineId)tab where OutDate = #{outDate} and LineName like #{LineName}
        order by OutDate desc
    </select>



    <select id="applyIndex" resultType="eqlee.ctm.apply.guider.entity.vo.ApplyVo">
        select a.Id,a.AllNumber,a.ContactName,a.ContactTel,a.Region,a.Place,
        convert(varchar(20),a.OutDate,23)OutDate,b.LineName from Apply a
        join Line b on a.LineId = b.Id where a.OutDate = #{outDate} and b.Id = #{lineId}
        and isnull(a.IsSelect,0) = 0 and a.IsCancel = 0 and a.Statu != 0 and a.IsPayment = 1
    </select>

    <select id="queryApplyPerson" resultType="eqlee.ctm.apply.guider.entity.vo.ApplyVo">
        <bind name="Region_Name" value="'%' + region + '%'"/>
        select a.Id,a.AllNumber,a.ContactName,a.ContactTel,a.Region,a.Place,
        convert(varchar(20),a.OutDate,23)OutDate,b.LineName from Apply a
        join Line b on a.LineId = b.Id where  a.OutDate = #{outDate} and b.Id = #{lineId} and
        isnull(a.IsSelect,0) = 0 and a.IsCancel = 0 and a.Statu != 0 and a.IsPayment = 1
        and a.Place like #{Region_Name}
    </select>
</mapper>

