<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.apply.guider.dao.GuiderMapper">


    <select id ="guiderIndex" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderVo">
        select * from(
        select max(Id)id,max(LineName)lineName,max(convert(varchar(20),OutDate,23))outDate,sum(AllNumber)allNumber,
        sum(case when isnull(IsSelect,0)=1 then isnull(AllNumber,0) else 0 end)slcCnt
        from(
        select a.Id,a.LineId,b.LineName,a.OutDate,a.AllNumber,a.IsSelect from Apply a
        left join Line b  on a.LineId = b.Id)tab
        group by OutDate,LineId)tab
        order by OutDate desc
    </select>

    <select id ="guiderIndexByLine" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderVo">
        <bind name="LineName" value="'%' + lineName + '%'"/>
        select * from(
        select max(Id)id,max(LineName)lineName,max(convert(varchar(20),OutDate,23))outDate,sum(AllNumber)allNumber,
        sum(case when isnull(IsSelect,0)=1 then isnull(AllNumber,0) else 0 end)slcCnt
        from(
        select a.Id,a.LineId,b.LineName,a.OutDate,a.AllNumber,a.IsSelect from Apply a
        left join Line b  on a.LineId = b.Id)tab
        group by OutDate,LineId)tab where LineName like #{LineName}
        order by OutDate desc
    </select>

    <select id ="guiderIndexByTime" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderVo">
         select * from(
        select max(Id)id,max(LineName)lineName,max(convert(varchar(20),OutDate,23))outDate,sum(AllNumber)allNumber,
        sum(case when isnull(IsSelect,0)=1 then isnull(AllNumber,0) else 0 end)slcCnt
        from(
        select a.Id,a.LineId,b.LineName,a.OutDate,a.AllNumber,a.IsSelect from Apply a
        left join Line b  on a.LineId = b.Id)tab
        group by OutDate,LineId)tab where OutDate = #{outDate}
        order by OutDate desc
    </select>

    <select id ="guiderIndexByLineAndTime" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderVo">
        <bind name="LineName" value="'%' + lineName + '%'"/>
        select * from(
        select max(Id)id,max(LineName)lineName,max(convert(varchar(20),OutDate,23))outDate,sum(AllNumber)allNumber,
        sum(case when isnull(IsSelect,0)=1 then isnull(AllNumber,0) else 0 end)slcCnt
        from(
        select a.Id,a.LineId,b.LineName,a.OutDate,a.AllNumber,a.IsSelect from Apply a
        left join Line b  on a.LineId = b.Id)tab
        group by OutDate,LineId)tab where OutDate = #{outDate} and LineName like #{LineName}
        order by OutDate desc
    </select>



    <select id="applyIndex" resultType="eqlee.ctm.apply.guider.entity.vo.ApplyVo">
        select a.Id,a.AllNumber,a.ContactName,a.ContactTel,a.Region,a.Place,
        convert(varchar(20),a.OutDate,23)OutDate,b.LineName from Apply a
        join Line b on a.LineId = b.Id where a.OutDate = #{outDate} and b.Id = #{lineId}
        and isnull(a.IsSelect,0) = 0
    </select>
</mapper>

