<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.apply.guider.dao.GuiderMapper">
    <select id ="guiderIndex" resultType="eqlee.ctm.apply.guider.entity.vo.GuiderVo">
        <bind name="OutDateTime" value="'%' + outDate + '%'"/>
        <bind name="LineName" value="'%' + lineName + '%'"/>
        select a.Id,a.LineName,convert(varchar(20),b.OutDate,23) as OutDate,b.AdultPrice,b.OldPrice,b.BabyPrice,b.ChildPrice,c.AllNumber AppliedNumber,
        e.AllNumber ChooisedNumber,c.AllNumber-e.AllNumber WaitedPeople
        from Line a join Price b on a.Id = b.LineId join Apply c on a.Id = c.LineId join orders d on a.LineName = d.LineName
        join OrderDetailed e on d.Id = e.OrderId
        where c.OutDate = b.OutDate and
        b.OutDate = d.OutDate and convert(varchar,b.OutDate,120) like #{OutDateTime}
        and a.LineName like #{LineName}
    </select>

    <select id="applyIndex" resultType="eqlee.ctm.apply.guider.entity.vo.ApplyVo">
        select a.ContactName,a.ContactTel,a.Region,a.Place from Apply a
        join Line b on a.LineId = b.Id where b.LineName =#{lineName} and a.OutDate=#{outDate}
        and a.ApplyNo not in(select OrderNo from Orders)
    </select>
</mapper>

