<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.report.statisticline.dao.StatisticLineMapper">



    <select id="selectPriceByTime" resultType="eqlee.ctm.report.statisticline.entity.vo.PriceCountVo">
       select  max(City)city, sum(AllPrice) as 'allPrice' from Orders
      where OutDate between #{startTime} and #{endTime}
      group by City
    </select>


    <select id="selectCountByTime" resultType="eqlee.ctm.report.statisticline.entity.vo.PersonCountVo">
      select max(a.City)city, sum(b.AllNumber) as 'allPersonCount' from Orders a
      join OrderDetailed b on a.Id = b.OrderId
      where OutDate between #{startTime} and #{endTime} group by a.City
    </select>

    <select id="StatisticsApplyDataByTime" resultType="eqlee.ctm.report.statisticline.entity.vo.QueryStatisticApplyVo">
      select max(City)city,max(Month(a.OutDate))StatisticsMonth,sum(b.AllNumber) as 'allPersonCount', sum(b.Price) as 'allPrice' from Orders a
      join OrderDetailed b on a.Id = b.OrderId
      where YEAR(OutDate) = #{year} group by a.City,Month(a.OutDate)
    </select>

</mapper>