<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.apply.entry.dao.ApplyMapper">

    <!-- 可报名路线 -->
    <select id="queryApplyInfo" resultType="eqlee.ctm.apply.entry.entity.query.ApplyQuery">
      select * from (
      select max(Id)id,max(LineName)LineName,max(Region)Region,max(convert(varchar(20),OutDate,23))OutDate,max(AdultPrice)AdultPrice,max(OldPrice)OldPrice,max(BabyPrice)BabyPrice,
        max(ChildPrice)ChildPrice,max(MaxNumber)MaxNumber,isnull(sum(DoAllNumber),0)DoAllNumber,max(TravelSituation)TravelSituation,max(MarketAdultPrice)MarketAdultPrice,
        max(MarketOldPrice)MarketOldPrice,max(MarketBabyPrice)MarketBabyPrice,max(MarketChildPrice)MarketChildPrice,max(PicturePath)PicturePath,MAX(Sort)Sort
        from VLinePrice where Stopped = 0
        group by LineId,OutDate
      )tab
      <where>
         1 = 1
        <if test="lineNameOrRegion != null">
             <bind name="line_region_name" value="'%' + lineNameOrRegion + '%'"/>
             and Region like #{line_region_name}
        </if>
        <if test="outDate != null">
              and OutDate = #{outDate}
        </if>
        <if test="lineName != null">
            and LineName = #{lineName}
        </if>
      </where>
      order by OutDate desc,ISNULL(Sort,99999)
    </select>

    <!-- 未审核的数据(报名审核+取消审核) + 已审核数据 -->
    <select id="queryAllExaInfo2" resultType="eqlee.ctm.apply.entry.entity.query.ApplyDoExaQuery">
    select a.Id,a.ApplyNo,convert(varchar(20),a.OutDate,23) as 'OutDate',b.LineName,a.AdultNumber,a.BabyNumber,a.OldNumber,a.ChildNumber,
    a.statu,a.CompanyName,a.CompanyUser,a.IsPayment,a.IsCancel,d.ExamineType,a.ContactName,a.ContactTel,a.AllPrice,a.Type,d.ExamineResult,
    a.ApplyPic from Line b join Apply a on a.LineId = b.Id join (select ea2.* from (select Max(createdate) as createdate,ApplyId from
        Examine where ExamineType  = '0' or ExamineType = '1' group by ApplyId) ea inner join Examine ea2 on ea.createdate = ea2.createdate) d on a.Id = d.ApplyId
        <where>
            1 = 1
            and a.IsPayment = 1
            <if test="outDate != null">
                and datediff(day,#{outDate},a.OutDate) &gt;= 0
            </if>
            <if test="outDateEnd != null">
                and datediff(day,a.OutDate,#{outDateEnd}) &gt;= 0
            </if>
            <if test="lineName != null">
                and b.Id = #{lineName}
            </if>
            <if test="type == 0">
                and d.ExamineType = '0' and a.IsCancel = 0
            </if>
            <if test="type == 1">
                and d.ExamineType = '1'
            </if>
            <if test="start != null">
                and (a.CreateDate between #{start} and #{end})
            </if>
            <if test="exaStatus == 0">
                and ((d.ExamineType = '0' or d.ExamineType = '1') and d.ExamineResult = 0 and a.IsCancel != 1)
            </if>
            <if test="exaStatus == 1">
                and ((d.ExamineType = '0' or d.ExamineType = '1') and d.ExamineResult != 0)
            </if>
            <if test="list != null">
                and b.City in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by a.CreateDate desc
    </select>

    <!-- 未审核的数据统计 -->
    <select id="queryExamineCount" resultType="java.lang.Integer">
        select count (*) from (select a.Id,a.ApplyNo,convert(varchar(20),a.OutDate,23) as 'OutDate',b.LineName,a.AdultNumber,a.BabyNumber,a.OldNumber,a.ChildNumber,
        a.statu,a.CompanyName,a.CompanyUser,a.IsPayment,a.IsCancel,d.ExamineType,a.ContactName,a.ContactTel,a.AllPrice,a.Type,d.ExamineResult,
        a.ApplyPic from Line b join Apply a on a.LineId = b.Id join Examine d on a.Id = d.ApplyId
        where
            1 = 1
            and a.IsPayment = 1
                and ((d.ExamineType = '0' or d.ExamineType = '1') and d.ExamineResult = 0 and a.IsCancel != 1)) kk
    </select>

    <select id="listPageDoApply2Company" resultType="eqlee.ctm.apply.entry.entity.query.ApplyCompanyQuery">
        select a.Id,a.ApplyNo,convert(varchar(20),a.OutDate,23) as 'OutDate',b.LineName,a.AllNumber,
        a.ContactName,a.ContactTel,a.Statu
        from Apply a join Line b on a.LineId = b.Id where a.CompanyName = #{CompanyName}
        ORDER by a.OutDate desc
    </select>

    <select id="listPageDoApply2CompanyByTime" resultType="eqlee.ctm.apply.entry.entity.query.ApplyCompanyQuery">
        select a.Id,a.ApplyNo,convert(varchar(20),a.OutDate,23) as 'OutDate',b.LineName,a.AllNumber,
        a.ContactName,a.ContactTel,a.Statu
        from Apply a join Line b on a.LineId = b.Id where a.CompanyName = #{CompanyName} and a.OutDate = #{OutTime}
        ORDER by a.OutDate desc
    </select>

    <select id="queryCompanyById" parameterType="long" resultType="eqlee.ctm.apply.entry.entity.query.Company">
        select * from Company where Id = #{Id}
    </select>


    <!-- 我的报名记录(同行) -->
    <select id="allCompanyList" resultType="eqlee.ctm.apply.entry.entity.query.ApplyCompanyQuery">
        select a.Id,a.ApplyNo,convert(varchar(20),a.OutDate,23) as 'OutDate',b.LineName,a.AllNumber,a.AllPrice,a.MarketAllPrice,
        a.ContactName,a.ContactTel,a.Statu,a.IsCancel,a.IsPayment,convert(varchar(100),a.CreateDate,20) as 'CreateDate',a.GuideName as 'guide'
        ,a.ChildNumber,a.OldNumber,a.BabyNumber,a.AdultNumber,a.Place,a.CName,a.CancelInfo,a.PayType,a.Type as 'type',a.CompanyName
        ,a.GuideTel as 'tel',a.Icnumber
        from Line b join Apply a on a.LineId = b.Id
        <where>
            1 = 1
            <if test="id != null">
                and a.CreateUserId = #{id}
            </if>
           <if test="companyId != null">
               and a.CompanyId = #{companyId}
           </if>
            <if test="startDate != null">
                and (a.CreateDate between #{startDate} and #{endDate})
            </if>
            <if test="lineName != null">
                <bind name="lineName_name" value="'%' + lineName + '%'"/>
                and (a.ApplyNo like #{lineName_name} or a.ContactName like #{lineName_name}
                or a.ContactTel like #{lineName_name})
            </if>
            <if test="outTime != null">
                and a.OutDate = #{outTime}
            </if>
            <if test="type == 0">
                and a.IsCancel = 1
            </if>
            <if test="type == 1">
                and a.IsCancel = 0
            </if>
            <if test="roadName != null">
                and LineName = #{roadName}
            </if>
        </where>
        ORDER by a.CreateDate desc
    </select>

    <!-- 我的报名记录(运营人员) -->
    <select id="allCompanyAdminList" resultType="eqlee.ctm.apply.entry.entity.query.ApplyCompanyQuery">
        select a.Id,a.ApplyNo,convert(varchar(20),a.OutDate,23) as 'OutDate',b.LineName,a.AllNumber,a.AllPrice,a.MarketAllPrice,
        a.ContactName,a.ContactTel,a.Statu,a.IsCancel,a.IsPayment,convert(varchar(100),a.CreateDate,20) as 'CreateDate'
        ,a.ChildNumber,a.OldNumber,a.BabyNumber,a.AdultNumber,a.Place,a.CName,a.CancelInfo,a.PayType,a.Type as 'type',a.CompanyName
        ,a.GuideName as 'guide',a.GuideTel as 'tel'
        from Line b join Apply a on a.LineId = b.Id
        <where>
            1 = 1
            <if test="companyUserId != null">
                and a.CompanyId =#{companyUserId}
            </if>
            <if test="lineName != null">
                <bind name="lineName_name" value="'%' + lineName + '%'"/>
                and (a.ApplyNo like #{lineName_name} or a.ContactName like #{lineName_name}
                or a.ContactTel like #{lineName_name})
            </if>
            <if test="outTime != null">
                and a.OutDate = #{outTime}
            </if>
            <if test="startDate != null">
                and (a.CreateDate between #{startDate} and #{endDate})
            </if>
            <if test="type == 0">
                and a.IsCancel = 1
            </if>
            <if test="type == 1">
                and a.IsCancel = 0
            </if>
            <if test="roadName != null">
                and LineName = #{roadName}
            </if>
        </where>
        ORDER by a.CreateDate desc
    </select>

    <!-- 今日报名     今日出行 -->
    <select id="listToDayApply" resultType="eqlee.ctm.apply.entry.entity.query.ApplyCompanyQuery">
       select a.Id,a.ApplyNo,convert(varchar(20),a.OutDate,23) as 'OutDate',b.LineName,a.AllNumber,a.AllPrice,a.MarketAllPrice,
        a.ContactName,a.ContactTel,a.Statu,a.IsCancel,a.IsPayment,convert(varchar(100),a.CreateDate,20) as 'CreateDate'
        ,a.ChildNumber,a.OldNumber,a.BabyNumber,a.AdultNumber,a.Place,a.CName,a.PayType,a.Type as 'type',a.Icnumber
        from Apply a join Line b on a.LineId = b.Id where a.CreateUserId =#{id}
        and (a.CreateDate between #{startDate} and #{endDate}) ORDER by a.CreateDate desc
    </select>

    <select id="listToDayOut" resultType="eqlee.ctm.apply.entry.entity.query.ApplyCompanyQuery">
       select a.Id,a.ApplyNo,convert(varchar(20),a.OutDate,23) as 'OutDate',b.LineName,a.AllNumber,a.AllPrice,a.MarketAllPrice,
        a.ContactName,a.ContactTel,a.Statu,a.IsCancel,a.IsPayment,convert(varchar(100),a.CreateDate,20) as 'CreateDate'
        ,a.ChildNumber,a.OldNumber,a.BabyNumber,a.AdultNumber,a.Place,a.CName,a.PayType,a.Type as 'type',a.Icnumber
        from Apply a join Line b on a.LineId = b.Id where a.CreateUserId =#{id} and a.IsSelect = 1
        and a.OutDate = #{outDate} ORDER by a.CreateDate desc
    </select>

    <select id="queryPayInfo" parameterType="Long" resultType="eqlee.ctm.apply.entry.entity.vo.ApplyOpenIdVo">
        select OpenId as 'openId' from PayInfo where UserId = #{userId}
    </select>


    <!-- 月结统计 -->
    <select id="queryAllMonth" resultType="eqlee.ctm.apply.entry.entity.query.ApplyMonthQuery">
        select a.Id,convert(varchar(20),a.OutDate,23) as 'OutDate',a.AllPrice,b.LineName,a.AllNumber,a.IsPayment,
        a.CompanyUser,a.ContactName from Apply a join Line b on a.LineId = b.Id
        <where>
            1 = 1
            and a.PayType = 1 and a.IsCancel = 0
            <if test="outDate != null">
                and a.OutDate = #{outDate}
            </if>
            <if test="type == 1">
                and a.IsPayment = 0
            </if>
            <if test="type == 2">
                and a.IsPayment = 1
            </if>
        </where>
        ORDER by a.OutDate desc
    </select>

    <!-- 同行现结月结账单统计 -->
    <select id="queryCompanyResultCount" resultType="eqlee.ctm.apply.entry.entity.query.ApplyResultCountQuery">
        select max(a.Id)id,max(a.CompanyId)companyId,max(a.ApplyNo) as 'applyNo',max(year(a.OutDate))year,max(month(a.OutDate))month,sum(a.AllPrice) as 'allPrice',
            sum(a.AllNumber) as 'allNumber',sum(isnull(a.MsPrice,0.0))msprice,sum(a.AdultNumber)adultNumber,sum(a.BabyNumber)babyNumber,
            sum(a.OldNumber)oldNumber,sum(a.ChildNumber)childNumber,max(a.CompanyName)companyName,max(a.SxType)sxType,max(isnull(a.CaiType,0))caiType
            from Apply a join Line b on a.LineId = b.Id
      <where>
          1 = 1
          and a.IsSelect = 1 and a.IsCancel = 0
          <if test="id != null">
              and a.CreateUserId = #{id}
          </if>
          <if test="companyId != null">
              and a.CompanyId = #{companyId}
          </if>
          <if test="start != null">
              and a.OutDate between #{start} and #{end}
          </if>
          <if test="type != null">
              and a.SxType = #{type}
          </if>
          <if test="caiType != null">
              and a.CaiType = #{caiType}
          </if>
          <if test="payType != null">
              and a.PayType = #{payType}
          </if>
      </where>
        group by year(a.OutDate),month(a.OutDate),a.CompanyId
    </select>

    <!-- 运营人员现结月结账单展示 -->
    <select id="queryCompanyAdminResultCount" resultType="eqlee.ctm.apply.entry.entity.query.ApplyResultCountQuery">
        select * from (select max(a.Id)id,max(a.CompanyId)companyId,max(a.ApplyNo) as 'applyNo',max(year(a.OutDate))year,max(month(a.OutDate))month,max(convert(varchar(6),a.OutDate,112))yearmonth,sum(a.AllPrice) as 'allPrice',
        sum(a.AllNumber) as 'allNumber',sum(isnull(a.MsPrice,0.0))msprice,sum(a.AdultNumber)adultNumber,sum(a.BabyNumber)babyNumber,
        sum(a.OldNumber)oldNumber,sum(a.ChildNumber)childNumber,max(a.CompanyName)companyName,max(a.SxType)sxType,max(isnull(a.CaiType,0))caiType
        from Apply a join Line b on a.LineId = b.Id
        <where>
            1 = 1
            and a.IsSelect = 1 and a.IsCancel = 0
            <if test="year != null">
                and year(a.OutDate)=#{year}
            </if>
            <if test="month != null">
                and month(a.OutDate)=#{month}
            </if>
            <if test="type != null">
                and a.SxType = #{type}
            </if>
            <if test="caiType != null">
                and a.CaiType = #{caiType}
            </if>
            <if test="payType != null">
                and a.PayType = #{payType}
            </if>
            <if test="companyUserId != null">
                and a.CompanyId = #{companyUserId}
            </if>
        </where>
        group by year(a.OutDate),month(a.OutDate),a.CompanyId) bb order by yearmonth desc
    </select>

    <!-- 批量回收未付款过期的订单 -->
    <update id="updateAllApplyStatus" parameterType="eqlee.ctm.apply.entry.entity.query.ApplyScheQuery">
        <foreach collection="list" item="item" index="index">
            update Apply set IsCancel = 1 where ApplyNo = #{item.applyNo}
        </foreach>
    </update>

    <update id="updateAllApply" parameterType="eqlee.ctm.apply.entry.entity.bo.ApplyGuideBo">
        <foreach collection="list" item="item" index="index">
            update Apply set IsSelect = 1,GuideName = #{item.guide},GuideTel = #{item.tel} where Id = #{item.id}
        </foreach>
    </update>

    <select id="queryApplyCompanyInfo" parameterType="Long" resultType="eqlee.ctm.apply.entry.entity.bo.ApplyCompanyBo">
        select convert(varchar(100),endDate,20) as 'endTime',SxPrice as 'sxPrice',CompanyPic as 'picture',
        CompanyName as 'companyName',CompanyNo as 'companyNo'
        from Company where Id = #{id}
    </select>

    <select id="queryApplyCountInfo" resultType="eqlee.ctm.apply.entry.entity.bo.ApplyBo">
       select Sum(Allprice)allPrice,Sum(AllNumber)allNumber,sum(MsPrice)msPrice from Apply
      where CreateUserId = #{id} and SxType = 0 and (PayType = 1 or PayType = 2)
      and IsCancel = 0
      group by CreateUserId
    </select>

    <select id="queryApplyCount" resultType="eqlee.ctm.apply.entry.entity.bo.ApplyBo">
       select Sum(Allprice)price,sum(MsPrice)msPrice from Apply
      where CreateUserId = #{id}
      and IsCancel = 0 and PayType = #{payType}
      group by CreateUserId
    </select>

    <select id="queryAllPriceToApply" resultType="eqlee.ctm.apply.entry.entity.Apply">
        select * from Apply where (PayType = 1 or PayType = 2)
        and CompanyId = #{id} and IsCancel = 0 and SxType = 0
    </select>

    <select id="queryApplyDoExaInfo" parameterType="String" resultType="eqlee.ctm.apply.entry.entity.bo.ApplyDoExaInfo">
       select a.Id as 'id',a.Place as 'place',a.PayType as 'payType',convert(varchar(100),a.CreateDate,20)createDate,
        isnull(a.MsPrice,0.0)msPrice,a.ApplyRemark as 'applyRemark',b.ThirdPartyNumber as 'thirdNumber',
        convert(varchar(100),b.PayDate,20)payDate,b.PayStatu as 'payStatus',b.PayType as 'type',a.AllPrice as 'payPrice',
        a.CompanyName as 'companyName',a.OutDate as 'outDate',d.LineName as 'lineName',a.ContactName as 'contactName',
        a.ContactTel as 'contactTel',a.AllNumber as 'allNumber',a.AdultNumber as 'adultNumber',a.BabyNumber as 'babyNumber',
        a.OldNumber as 'oldNumber',a.ChildNumber as 'childNumber',a.AllPrice as 'allPrice',a.Type as 'ctmType',a.ApplyPic as 'applyPic',a.Icnumber,a.City
        from Apply a left join Pay b on a.ApplyNo = b.ApplyNo join Line d on a.LineId = d.Id
        where a.ApplyNo = #{applyNo}
    </select>


    <select id="queryCountInfo" resultType="eqlee.ctm.apply.entry.entity.vo.ApplyCountVo">
         select a.ApplyNo as 'applyNo',convert(varchar(20),a.OutDate,23)outDate,b.LineName as 'lineName',a.ContactName as 'contactName',
      a.ContactTel as 'contactTel',a.AllNumber as 'allNumber',a.AdultNumber as 'adultNumber',a.BabyNumber as 'babyNumber',
      a.OldNumber as 'oldNumber',a.ChildNumber as 'childNumber',a.AllPrice as 'allPrice',a.MsPrice as 'msPrice',a.CName as 'cname',a.IsCancel as isCancel
      from Apply a join Line b on a.LineId = b.Id
      <where>
          1 = 1
          and a.IsSelect = 1
          and a.CompanyName = #{companyName}
          <if test="start != null">
              and a.OutDate between #{start} and #{end}
          </if>
          <if test="lineName != null">
              and b.LineName = #{lineName}
          </if>
          <if test="payType != null">
              and a.PayType = #{payType}
          </if>
      </where>
      order by a.OutDate desc
    </select>


    <select id="queryCountInfo2" resultType="eqlee.ctm.apply.entry.entity.bo.ApplyCountCaiBo">
        select a.ApplyNo as 'applyNo',convert(varchar(20),a.OutDate,23)outDate,b.LineName as 'lineName',a.ContactName as 'contactName',
        a.ContactTel as 'contactTel',a.AllNumber as 'allNumber',a.AdultNumber as 'adultNumber',a.BabyNumber as 'babyNumber',
        a.OldNumber as 'oldNumber',a.ChildNumber as 'childNumber',a.AllPrice as 'allPrice',a.MsPrice as 'msPrice',a.CompanyUser as 'cname',
        a.CompanyTel as 'companyDbTel'
        from Apply a join Line b on a.LineId = b.Id
        <where>
            1 = 1
            and a.IsSelect = 1
            and a.IsCancel = 0
            and a.CompanyName = #{companyName}
            <if test="start != null">
                and a.OutDate between #{start} and #{end}
            </if>
            <if test="lineName != null">
                and b.LineName = #{lineName}
            </if>
            <if test="payType != null">
                and a.PayType = #{payType}
            </if>
        </where>
        order by a.OutDate desc
    </select>

</mapper>