<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.resource.statisticline.dao.StatisticLineMapper">
    <select id="selectOrdersByTime" resultType="eqlee.ctm.resource.statisticline.entity.vo.OrdersVo">
        select * from Orders where OutDate between #{startTime} and #{endTime}
    </select>
    <select id="selectOutDateByTime" resultType="eqlee.ctm.resource.statisticline.entity.vo.TimeVo">
        select distinct OutDate as localDate  from Orders where OutDate between #{startTime} and #{endTime}
    </select>

    <select id="selectOrderDetailedByTime" resultType="eqlee.ctm.resource.statisticline.entity.vo.OrderDetailedVo">
        select a.OutDate as time,b.AllNumber as allNumber from Orders a join OrderDetailed b on
        a.Id = b.OrderId where a.OutDate between #{startTime} and #{endTime}
    </select>
</mapper>