<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.apply.line.dao.LineMapper">

    <select id="listLine" resultType="eqlee.ctm.apply.line.entity.query.LineQuery">
      select a.OutDate,b.LineName,b.Region,b.TravelSituation,b.Stopped from Apply a
      Join Line b on a.LineId = b.Id
      where a.OutDate between #{startDate} and #{endDate}
    </select>


    <select id="listAllLine" resultType="eqlee.ctm.apply.line.entity.query.LineQuery">
      select a.OutDate,b.LineName,b.Region,b.TravelSituation,b.Stopped from Apply a
      Join Line b on a.LineId = b.Id
    </select>


</mapper>