<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.apply.line.dao.LineMapper">

    <select id="queryLine2PageAndName" resultType="eqlee.ctm.apply.line.entity.query.LineSeacherQuery">
        <bind name="line_Name" value="'%' + lineName + '%'"/>
      select Id,LineName,Information,Region,TravelSituation,MaxNumber,MinNumber,City,PicturePath,Stopped,Sort from Line
      where LineName like #{line_Name}
      order by isnull(Sort,99999),CreateDate desc
    </select>


    <select id="queryLine2Page" resultType="eqlee.ctm.apply.line.entity.query.LineSeacherQuery">
        select Id,LineName,Information,Region,TravelSituation,MaxNumber,MinNumber,City,PicturePath,Stopped,Sort from Line
        order by isnull(Sort,99999),CreateDate desc
    </select>


    <select id="queryLineAndName" resultType="eqlee.ctm.apply.line.entity.query.LineSeacherQuery">
        <bind name="line_Name" value="'%' + lineName + '%'"/>
        select max(a.Id)Id,max(a.LineName)LineName,max(a.Information)Information,max(a.Region)Region,
        max(a.TravelSituation)TravelSituation,max(a.MaxNumber)MaxNumber,max(a.MinNumber)MinNumber,max(a.City)City,
        max(a.PicturePath)PicturePath from Line a join Price b on a.Id = b.LineId where a.LineName like #{line_Name}
        group by b.LineId
    </select>


    <select id="queryLine" resultType="eqlee.ctm.apply.line.entity.query.LineSeacherQuery">
         select max(a.Id)Id,max(a.LineName)LineName,max(a.Information)Information,max(a.Region)Region,
      max(a.TravelSituation)TravelSituation,max(a.MaxNumber)MaxNumber,max(a.MinNumber)MinNumber,max(a.City)City,
      max(a.PicturePath)PicturePath from Line a join Price b on a.Id = b.LineId group by b.LineId
    </select>



    <select id="queryLocalCity" parameterType="String" resultType="eqlee.ctm.apply.line.entity.Line">
        select * from Line
        where City in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
           #{item}
        </foreach>
        order by isnull(Sort,99999),City
    </select>

    <select id="queryOrderbyLine" parameterType="String" resultType="eqlee.ctm.apply.line.entity.Line">
        select * from Line
        order by isnull(Sort,99999),City
    </select>

</mapper>