<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.user.dao.UserMapper">

    <select id="queryUserInfo" resultType="eqlee.ctm.user.entity.query.UserQuery">
        select a.Id,a.Account,b.RoleName,a.Tel,a.Stopped from SystemUser a
        join SystemRole b on a.SystemRoleId = b.Id
        order by a.CreateDate desc
    </select>


    <select id="queryUser2Info" resultType="eqlee.ctm.user.entity.query.User2Query">
        select a.Id,a.Account,b.RoleName,a.Tel,a.Stopped from SystemUser a
        join SystemRole b on a.SystemRoleId = b.Id where b.Statu = 1
        order by a.CreateDate desc
    </select>


    <select id="queryPageUserByName" resultType="eqlee.ctm.user.entity.query.UserQuery">
        <bind name="user_name" value="'%' + userName + '%'"/>
        <bind name="role_name" value="'%' + roleName + '%'"/>
        select a.Id,a.Account,b.RoleName,a.Tel,a.Stopped from SystemUser a
        join SystemRole b on a.SystemRoleId = b.Id
        where a.Account like #{user_name} and b.RoleName like #{role_name}
        order by a.CreateDate desc
    </select>

    <select id="queryUserInfoByUser" resultType="eqlee.ctm.user.entity.query.UserQuery">
        <bind name="user_name" value="'%' + userName + '%'"/>
        select a.Id,a.Account,b.RoleName,a.Tel,a.Stopped from SystemUser a
        join SystemRole b on a.SystemRoleId = b.Id
        where a.Account like #{user_name}
        order by a.CreateDate desc
    </select>

    <select id="queryUserInfoByRole" resultType="eqlee.ctm.user.entity.query.UserQuery">
        <bind name="role_name" value="'%' + roleName + '%'"/>
        select a.Id,a.Account,b.RoleName,a.Tel,a.Stopped from SystemUser a
        join SystemRole b on a.SystemRoleId = b.Id
        where b.RoleName like #{role_name}
        order by a.CreateDate desc
    </select>


    <select id="queryUserByName" resultType="eqlee.ctm.user.entity.query.User2Query">
        <bind name="user_role_name" value="'%' + userNameOrRole + '%'"/>
        select a.Id,a.Account,b.RoleName,a.Tel,a.Stopped from SystemUser a
        join SystemRole b on a.SystemRoleId = b.Id
        where a.Account like #{user_role_name} or b.RoleName like #{user_role_name} and b.Statu = 1
        order by a.CreateDate desc
    </select>

    <select id="queryUserById" resultType="eqlee.ctm.user.entity.query.UserByIdQuery" parameterType="long">
         select a.Id,a.Account,a.CName,a.CompanyId,a.sex,a.Tel,a.IsSuper,b.RoleName,a.Stopped,a.Status,a.Deleted from SystemUser a
        join SystemRole b on a.SystemRoleId = b.Id where a.Id = #{id}
    </select>

</mapper>