<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.resource.company.dao.CompanyMapper">


    <select id="getCompanyPageByName" resultType="eqlee.ctm.resource.company.entity.vo.CompanyIndexVo">
        <bind name="_companyName" value="'%' + companyName + '%'"/>
        select Id as 'id',CompanyName as 'companyName' ,convert(varchar,StartDate,120) as 'startDate',
        convert(varchar,endDate,120) as 'endDate',PayMethod as 'payMethod',Stopped as 'stopped',CompanyNo as 'companyNo',
        CompanyPic as 'companyPic',SxPrice as 'sxPrice',CompanyFullName as 'companyFullName',
        ChargeName as 'chargeName',FinanceTel as 'financeTel',Business as 'business',
        Licence as 'licence',Insurance as 'insurance',BankCard as 'bankCard',Address as 'address',Status as 'status'
        from Company where CompanyName like #{_companyName}
    </select>


    <delete id="deleteCompanyRole" parameterType="Long">
        delete from SystemRole where CompanyId = #{id}
    </delete>

    <delete id="deleteUser" parameterType="Long">
        delete from SystemUser where CompanyId = #{id}
    </delete>
</mapper>