<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.apply.price.dao.PriceMapper">

    <insert id="allInsertPrice" parameterType="eqlee.ctm.apply.price.entity.Price">
        insert into Price (Id,OutDate,LineId,ChannelId,AllPrice,AdultPrice,OldPrice,BabyPrice,ChildPrice,MaxNumber,MinNumber)
        <foreach collection="list" item="item" index="index" separator="union all">
            select #{item.Id},#{item.OutDate},#{item.LineId},#{item.ChannelId},#{item.AllPrice},
            #{item.AdultPrice},#{item.OldPrice},#{item.BabyPrice},#{item.ChildPrice},#{item.MaxNumber},#{item.MinNumber}
        </foreach>
    </insert>


    <update id="batchupdatePrice" parameterType="eqlee.ctm.apply.price.entity.Price">
        <foreach collection="list" item="item" index="index">
            update Price set AdultPrice = #{item.AdultPrice},OldPrice = #{item.OldPrice},BabyPrice = #{item.BabyPrice},ChildPrice = #{item.ChildPrice}
            where Id = #{item.Id}
        </foreach>
    </update>


    <select id="selectPriceByFilter" parameterType="eqlee.ctm.apply.price.entity.query.PriceQuery" resultType="eqlee.ctm.apply.price.entity.vo.PriceSelectVo" >
        <bind name="_OutDate" value="'%' + priceQuery.OutDate + '%'"/>
        <bind name="_LineName" value="'%' + priceQuery.LineName + '%'"/>
        select a.Id as id,b.LineName,a.OutDate,a.AdultPrice,a.OldPrice,a.BabyPrice,a.ChildPrice from Price a,Line b
        where convert(varchar,a.OutDate,120) like #{_OutDate} and b.LineName like #{_LineName}
    </select>


</mapper>