<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.finance.financeexpress.dao.FinanceExpressMapper">


    <select id="queryfinancecount" resultType="eqlee.ctm.finance.financeexpress.entity.CashCountVo">
        <bind name="_companyName" value="'%' + companyName + '%'"/>
        select datepart(month,OutDate) as month,AccountName accountName,CompanyName as companyName,sum(AllPrice) as substitutionPrice
        from Income a join OrderDetailed b on a.Id = b.OrderId
        group by All AccountName,datepart(year,OutDate),CompanyName,datepart(month,OutDate)
        having datepart(year,OutDate) = #{year} and datepart(month,OutDate) = #{month} and
        CompanyName like #{_companyName} and b.PayType = 2
    </select>


    <select id="queryfinancecollection" resultType="eqlee.ctm.finance.financeexpress.entity.FinanceExpressCountVo">
        <bind name="_guideName" value="'%' + guideName + '%'"/>
        select GuideName as guideName,datepart(month,OutDate) as month,sum(SubstitutionPrice) as substitutionPrice from Income
        group by all guideName,datepart(year,OutDate),datepart(month,OutDate)
        having datepart(year,OutDate)=#{year} and datepart(month,OutDate)=#{month} and
        GuideName like #{_guideName}
    </select>



    <select id="getfinancecount" resultType="eqlee.ctm.finance.financeexpress.entity.CountVo">
        <bind name="_companyName" value="'%' + companyName + '%'"/>
        select datepart(month,OutDate) as month,AccountName accountName,CompanyName as companyName,sum(AllPrice) as substitutionPrice
        b.IsPayment as isPayment from Income a join OrderDetailed b on a.Id = b.OrderId
        group by All AccountName,datepart(year,OutDate),CompanyName,datepart(month,OutDate)
        having datepart(year,OutDate) = #{year} and datepart(month,OutDate) = #{month} and
        CompanyName like #{_companyName} and b.PayType = 1
    </select>

    <select id="getAllfinancecount" resultType="eqlee.ctm.finance.financeexpress.entity.AllCountVo">
        <bind name="_companyName" value="'%' + companyName + '%'"/>
        select  datepart(month,a.OutDate) as month,a.AccountName as accountName,a.CompanyName as companyName,
        sum(b.SettlementPrice) as settlementPrice,sum(b.SubstitutionPrice) as substitutionPrice,
        sum(b.SettlementPrice)-sum(b.SubstitutionPrice) as count
        from Orders a join Income b on a.GuideName = b.GuideName
        group by all a.AccountName,a.CompanyName,datepart(year,a.OutDate),datepart(month,a.OutDate)
        having datepart(year,a.OutDate)=#{year} and datepart(month,a.OutDate)=#{month} and
        CompanyName like #{_companyName}
    </select>
</mapper>