<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eqlee.ctm.apply.message.dao.MessageMapper">



    <select id="pageMsg" resultType="eqlee.ctm.apply.message.entity.query.MsgQuery">
      select Id as 'id',CreateId as 'createId',ToId as 'toid',convert(varchar(100),CreateDate,20)createDate,
      convert(varchar(100),ReadDate,20)readDate from Message
      where IsRead = 0 and MsgType = #{msgType} and ToId = #{toId}
      order by CreateDate desc
    </select>


    <insert id="addAllMsg" parameterType="eqlee.ctm.apply.message.entity.vo.MsgVo">
        insert into Message (CreateId,ToId,MsgType,Msg)
        <foreach collection="list" item="item" index="index" separator="union all">
            select #{item.createId},#{item.toId},#{item.msgType},#{item.msg}
        </foreach>
    </insert>


</mapper>